body{
    background: #E5E5E5;
}

#logo{
    margin-top: 40px;
    margin-left: 40px;
    position: fixed;
}

#general{
    display: flex;
}

#parte-izquierda{
    width: 70%;
}

#parte-derecha{
    padding: 0 10px 0 10px;
    width: 30%;
    margin-left: 20px;
    margin-right: 40px;
    width: 400px;
}

#text{
    margin-top: 90px;
    margin-left: 240px ;
    border: none;
    width: 660px;
    height: 600px;
    font-size: 32px;
    color: #0A3871;
    background-color: #E5E5E5;
}

#resultado{
    margin-top: 40px;
    height: 700px;
    width: 100%;
    background-color: white;
    border-radius:10px;
    box-shadow: 0px 24px 32px -8px
}

#muneco{
    margin-top: 150px;
}

#mensaje-no-encontrado{
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    margin-left: 20px;
    /* Gray/gray-500 */
    color: #343A40;
    /* Inside auto layout */
    flex: none;
    order: 0;
}

#ingresa-texto{
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Gray/gray-400 */
    color: #495057;
    /* Inside auto layout */
    flex: none;
    order: 1;
    margin-left: 20px;
}

#requerimiento-texto{
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    margin-left: 240px;
    margin-top: 20px;
}

#botones{
    margin-left: 240px;
    margin-top: 10px;
    display: flex;
}

#encriptar{
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    color: white;
}

#desencriptar{
    /* Button */
    box-sizing: border-box;
    /* Auto layout */
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    margin-left: 10px;
}

::placeholder{
    color: #0A3871;
    font-size: 32px;
    line-height: 18px;
}